<div class="node-attributes__container">
  <div class="node-attributes__title">Attributes</div>
  <kendo-grid [data]="gridData">
    <kendo-grid-column
      field="index"
      title="ID"
      [width]="100"
      [headerStyle]="{ 'justify-content': 'center', 'text-align': 'center' }"
    >
    </kendo-grid-column>
    <kendo-grid-column
      field="key"
      title="Attribute Name"
      [headerStyle]="{ 'justify-content': 'center' }"
    >
    </kendo-grid-column>
    <kendo-grid-column
      field="value"
      title="Attribute Value"
      [headerStyle]="{ 'justify-content': 'center' }"
    >
      <ng-template kendoGridCellTemplate let-dataItem>
        <input kendoTextBox class="attribute-name__field" [(ngModel)]="dataItem.value" />
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column
      title="Action"
      [width]="200"
      [style]="{ 'justify-content': 'center', display: 'flex', gap: '10px' }"
      [headerStyle]="{ 'justify-content': 'center' }"
    >
      <ng-template kendoGridCellTemplate let-dataItem>
        <button class="save-button" (click)="onSave(dataItem)">Save</button>
        <button class="delete-button" (click)="onDelete(dataItem)">Delete</button>
      </ng-template>
    </kendo-grid-column>
  </kendo-grid>
</div>
