<kendo-grid
  [data]="gridData"
  [pageSize]="pageSize"
  [skip]="skip"
  [pageable]="true"
  (pageChange)="onPageChange($event)"
  (cellClick)="onRowClick($event)"
>
  <kendo-grid-column field="index" title="Index"> </kendo-grid-column>
  <kendo-grid-column field="fullName" title="Full Name"> </kendo-grid-column>
  <kendo-grid-column field="birthDay" title="Birth Day" [format]="'dd/MM/yyyy'">
  </kendo-grid-column>
  <kendo-grid-column field="address" title="Address"> </kendo-grid-column>
  <kendo-grid-column field="gender" title="Gender"> </kendo-grid-column>
  <kendo-grid-column field="description" title="Description"> </kendo-grid-column>
  <kendo-grid-column title="Action">
    <ng-template kendoGridCellTemplate let-dataItem>
      <div class="action-student-button">
        <button class="edit-student-button" (click)="onEdit(dataItem)">Edit</button>
        <button class="delete-student-button" (click)="onDelete(dataItem)">Delete</button>
      </div>
    </ng-template>
  </kendo-grid-column>
</kendo-grid>
<app-dialog
  title="Are you sure you want to delete this student"
  (deleteStudent)="onClickDeleteStudent($event)"
></app-dialog>
<app-toaster></app-toaster>
