<div class="node-details">
  <h2 class="node-details__title">Node information</h2>
  <app-tree-node-information></app-tree-node-information>
  <div class="node-info__button">
    <button class="edit-details-button" (click)="editNodeDetails()">Edit Details</button>
  </div>
  <app-tree-attribute></app-tree-attribute>
  <div class="node-details__footer">
    <button class="node-details__save-button" (click)="saveNode(nodeInfor.form)">Save</button>
  </div>
</div>
<div kendoDialogContainer></div>
<app-toaster></app-toaster>
